{{!-- {{> menu active="dashboard"}}

<section class="section">
  <div class="container  is-max-desktop">
    
    <h1 class="title is-2">Adventure Discovery</h1>
    {{> list-categories}}
    {{> list-placemarks}}
    <hr>
    <h2 class="title is-4 mt-5">Add a New Spot</h2>
    {{> add-placemark}}
    
     {{> dashboard-map}}
    
  </div>
</section>

<section class="section">
  <div class="container  is-max-desktop">
    <h3 class="title">Adventure Dashboard</h3>
    
    <div class="box">
      <p class="subtitle is-6">Filter by Activity:</p>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <a href="/dashboard" class="tag is-primary is-medium">All Activities</a>
        </div>
        {{#each categories}}
        <div class="control">
          <a href="/dashboard?category={{this}}" class="tag is-info is-light is-medium">{{this}}</a>
        </div>
        {{/each}}
      </div>
    </div>
   
    <div class="columns is-multiline">
      {{#each placemarks}}
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <span class="tag is-warning is-pulled-right">{{category}}</span>
              <p class="title is-4">{{name}}</p>
              <p>{{description}}</p>
            </div>
            <footer class="card-footer">
              <a href="/placemark/{{_id}}" class="card-footer-item">Details</a>
              <a href="/dashboard/deleteplacemark/{{_id}}" class="card-footer-item has-text-danger">Delete</a>
            </footer>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section> --}}

{{> menu active="dashboard"}}

<section class="section">
  <div class="container is-max-desktop">
    
    <h1 class="title is-2">Adventure Dashboard</h1>

    <div class="tabs is-boxed is-centered mb-5">
      <ul>
        <li>
          <a href="/dashboard?filter=my">
            <span class="icon is-small"><i class="fas fa-user"></i></span>
            <span>My Spots</span>
          </a>
        </li>
        <li>
          <a href="/dashboard?filter=all">
            <span class="icon is-small"><i class="fas fa-globe"></i></span>
            <span>All Spots</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="box">
      <p class="subtitle is-6">Filter by Activity:</p>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <a href="/dashboard?filter=all" class="tag is-primary is-medium">Clear Filters</a>
        </div>
        {{#each categories}}
        <div class="control">
          <a href="/dashboard?category={{this}}" class="tag is-info is-light is-medium">{{this}}</a>
        </div>
        {{/each}}
      </div>
    </div>

    {{> list-placemarks}}

    <hr>
    <h2 class="title is-4 mt-5">Adventure Map</h2>
    <div class="mt-5">
      {{> dashboard-map}}
    </div>
    <h2 class="title is-4 mt-5">Add a New Spot</h2>
    {{> add-placemark}}
    
    
    
  </div>
</section>