{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{placemark.title}}
    </div>
    {{> add-placemark}}
    {{> update-placemark}}
  </div>
  <div class="column">
    {{> placemark-image }}
  </div>
</section>

<script>
  const fileInput = document.querySelector(".file-input");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector(".file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>


<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">{{placemark.name}}</h1>
      <p><strong>Category:</strong> {{placemark.category}}</p>
      <p>{{placemark.description}}</p>
      <div class="box">
        {{> map}}
      </div>
    </div>
    <div class="column">
      <figure class="image is-4by3">
        <img src="{{placemark.image}}" onerror="this.src='/images/placeholder.jpg'">
      </figure>
    </div>
  </div>
  <hr>
  <div class="columns">
    <div class="column is-one-third">{{!-- {{> review-form}} --}}</div>
    <div class="column">{{!-- {{> review-list}} --}}</div>
  </div>
</section>