{{> menu}}

<section class="section  is-vcentered">
  {{#if isEditing}}
    <h1 class="title is-2">Edit {{placemark.name}} Details</h1>
    {{> edit-placemark}}
    <a href="/placemark/{{placemark._id}}" class="button is-light">Cancel</a>
  {{else}}
    <div class="columns has-text-centered">
      <div class="column">
        <h1 class="title">{{placemark.name}}</h1>
          <p>Category: {{placemark.category}}</p>
          <p>{{placemark.description}}</p>
          <a href="/placemark/{{placemark._id}}/editplacemark" class="button is-warning">
            <i class="fas fa-edit mr-2"></i>Edit Details
          </a>
      </div>
      <div class="column">
        <figure class="image is-4by3">
          <img src="{{placemark.image}}" onerror="this.src='/images/placeholder.jpg'">
        </figure>
      </div>
      <div class="column">
        {{> placemark-image }}
      </div>
    </div>
    <div class="box">
      {{> map}}
    </div>
  {{/if}}
</section> 


<script>
  const fileInput = document.querySelector(".file-input");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector(".file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>
