<div class="columns is-multiline">
  {{#each placemarks}}
    <div class="column is-4">
      <div class="card">
        {{#if image}}
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{image}}" alt="{{name}} image">
          </figure>
        </div>
        {{/if}}
        <div class="card-content">
          <p class="title is-5">{{name}}</p>
          <span class="tag {{design.color}} is-pulled-right">
          <span class="icon"><i class="{{design.icon}}"></i></span>
          <span>{{category}}</span>
          </span> 
          <span class="tag is-primary">{{category}}</span>
          {{#if timeRequired}}
            <span class="tag is-warning is-light is-pulled-right">⏱ {{timeRequired}}</span>
          {{/if}}
          {{#if amenities}}
            <span class="tag is-light">Amenities: {{#each amenities}} {{amenities}} {{/each}}</span>
          {{/if}}
          
          <div class="content mt-3">
            <p>{{description}}</p>
            <p class="is-size-6"><span class="has-text-weight-bold">Location (Lat/Long):</span> {{lat}}, {{lng}}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="/placemark/{{_id}}" class="card-footer-item">View Details</a>
          <a href="/placemark/{{_id}}/editplacemark" class="card-footer-item">Edit</a>
          <a href="/dashboard/deleteplacemark/{{_id}}" class="card-footer-item has-text-danger">Delete</a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
